@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 260 10% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 73% 51%;
    --primary-foreground: 0 0% 98%;
    --secondary: 267 100% 62%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 6% 10%;
    --muted-foreground: 240 5% 47.3%;
    --accent: 240 4% 10%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 98%;
    --input: 260 10% 18%;
    --ring: 240 4.9% 83.9%;
  }

  .dark:root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 260 10% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 73% 51%;
    --primary-foreground: 0 0% 98%;
    --secondary: 267 100% 62%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 6% 10%;
    --muted-foreground: 240 5% 47.3%;
    --accent: 240 4% 10%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 98%;
    --input: 260 10% 18%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer components {
  .pressable {
    @apply active:scale-95 transition-all duration-300;
  }
}
